.cart {
  position: fixed;
  top: 0;
  height: 100%;
  background: white;
  right: 0;
  z-index: -1;
  border-left: 2px solid #575757;
  width: 20%;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 10000;

  transition: all 1s;
}

.cart-rows-container {
  overflow-y: auto;
  margin-bottom: 2rem;
}

.cart-detail {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 2px solid #575757;
}

.cart-close-label {
  color: #ff6000;
  cursor: pointer;
}

.product-cart-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
  padding: 0px 1rem;
  border-bottom: 2px solid #57575730;
}

.price-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.quantity-controllers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.quantity-buttons {
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
  color: #575757;
}

.cursor-pointer:hover {
  color: #ff6000;
}
