.featured-categories-link {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  color: #575757;
  transition: transform 0.2s;
  cursor: pointer;
}

.featured-categories-link img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  clear: both;
}
.featured-categories-link :hover {
  color: #ff6000;
  transform: scale(1.3);
}

.featured-text {
  color: #575757;
  cursor: pointer;
}

.featured-text:hover {
  color: #ff6000;
}
