.bg-orange {
  background-color: #ff6000 !important;
}
.bg-orange:hover {
  background-color: #575757 !important;
  border: 2px solid #ff6000;
}
.orange-underline {
  text-decoration: underline #ff6000;
}

.grey-border {
  border: 2px solid #575757;
  color: #575757;
}

.orange {
  color: #ff6000;
}

.navbar {
  background-color: #575757;
  border-bottom: 2px solid #ff6000;
}

.nav-link:hover {
  color: #ff6000 !important;
}

a {
  color: #575757 !important;
  font-size: 14px !important;
  text-decoration: none !important;
}

a:hover {
  color: #ff6000 !important;
}

.modal-container {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #5757578f;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#login-container {
  opacity: 1;
  z-index: 10000000;
}

.modal-content {
  border-radius: 0.25rem;
  width: 70%;
  max-height: 85%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  flex-direction: column;
  padding: 1.5rem;
  overflow: auto;
}

.modal-content img {
  max-width: 80%;
}

.close-label {
  width: 100%;
  justify-content: end;
  display: flex;
  margin-bottom: 2rem;
}

.close-label .fas {
  color: #ff6000;
  cursor: pointer;
}

.close-label .fas:hover {
  color: #575757;
}

.show {
  opacity: 1;
  z-index: 10000;
  transition: all 1s;
}

.delete-category-filter {
  color: #575757;
  cursor: pointer;
}

.delete-category-filter:hover {
  color: #ff6000;
}
