.product-card {
  text-align: center;
  background-color: white;
  padding: 8px;
  position: relative;
  height: 558px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  cursor: pointer;
}
.image {
  position: relative;
}
.badge {
  position: absolute;
  bottom: 0;
  left: 0;
}

.product-card img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  clear: both;
  transition: transform 0.2s;
}

.product-card img:hover {
  transform: scale(1.3);
}

.product-card .btn:hover {
  color: white !important;
}

@media (max-width: 768px) {
  .product-card {
    height: auto;
  }
}

.product-name {
  color: #ff6000;
  text-align: left;
}

.product-description {
  text-align: justify;
  color: #575757;
}

.product-price {
  text-align: right;
  color: #ff6000;
  font-size: 16px;
}

.disabled {
  cursor: not-allowed;
}

.disabled img {
  opacity: 0.5;
}

.disabled img:hover {
  transform: none;
}

.load-image {
  height: 75px;
  width: 75px;
  display: block;
}
