.all-categories {
  position: fixed;
  top: 0;
  height: 100%;
  background: white;
  left: 0;
  z-index: -1;
  border-right: 2px solid #575757;
  width: 20%;
  display: flex;
  opacity: 0;
  flex-direction: column;
}

.categories-menu {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: end;
  padding: 0 1.5rem;
  align-items: center;
}

.categories-menu i {
  cursor: pointer;
  color: #575757;
}

.categories-menu i:hover {
  color: #ff6000;
}

.show {
  opacity: 1;
  z-index: 10000;

  transition: all 1s;
}

.category-link {
  display: block;
  margin-top: 1rem;
  cursor: pointer;
  color: #575757;
}

.category-link:hover {
  color: #ff6000;
}
